In [1]:
!pip install pandas
!pip install mysql-connector-python

Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (1.3.3)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.9/site-packages (8.0.26)
Requirement already satisfied: protobuf>=3.0.0 in /opt/conda/lib/python3.9/site-packages (from mysql-connector-python) (3.18.1)

In [7]:
from sqlalchemy import create_engine

#Como le llego a la IP del contenedor de la base datos?  Inspeccionar la red? No.  Una de las cosas en que nos 
# ayuda tambi√©n Docker-Compose es que 
source = create_engine('mysql+mysqlconnector://test:test123@db/test')

In [8]:
import pandas as pd
  
pd.read_sql('select now()', con=source)

                now()
0 2021-11-01 01:57:02